In [2]:
import yfinance 
import numpy as np # linear algebra
import pandas as pd # data
dateFrom = '2020-01-01'
dateTo = "2024-10-10"

tickers_list = ['YNDX', 'MSFT', 'AAPL', 'NVDA', 'MA']

# Import pandas
findata = pd.DataFrame(columns=tickers_list)

# Fetch the data

for ticker in tickers_list:
    loaded_data = yfinance.download(ticker, dateFrom, dateTo)
    findata[ticker] =loaded_data['Adj Close']

# Print first 5 rows of the data
findata.to_csv('findata.csv')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [3]:
findata

                 YNDX        MSFT        AAPL        NVDA          MA
Date
2020-01-02  44.080002  153.938202   72.876099    5.973122  295.023926
2020-01-03  43.209999  152.021408   72.167603    5.877516  292.145538
2020-01-06  43.099998  152.414352   72.742661    5.902164  292.923401
2020-01-07  43.165001  151.024689   72.400543    5.973620  291.931519
2020-01-08  43.770000  153.430252   73.565201    5.984824  297.082611
...               ...         ...         ...         ...         ...
2024-10-03  18.940001  416.540009  225.669998  122.849998  494.312775
2024-10-04  18.940001  416.059998  226.800003  124.919998  497.039154
2024-10-07  18.940001  409.540009  221.690002  127.720001  490.647644
2024-10-08  18.940001  414.709991  225.770004  132.889999  496.399994
2024-10-09  18.940001  417.459991  229.539993  132.649994  499.950012

[1201 rows x 5 columns]